.page {
  display: grid;
  grid-template-rows: 32px 1fr;
  align-items: flex-start;
  justify-items: flex-start;
  min-height: 100svh;
  padding: 24px 24px 40px;
  gap: 40px;
}

.title {
  font-size: 24px;
  line-height: 32px;
}

@media (min-width: 600px) {
  .page {
    padding: 40px 40px 80px;
  }
}
